@model Bonsai.RazorPages.User.Areas.UserPages.Pages.UserPagesLayoutModel

<!DOCTYPE html>
<html lang="@Model.LanguageDictionary.Culture.TwoLetterISOLanguageName">
<head>
    <!--GENERAL META TAGS-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@Model.Description" />
    <meta name="keywords" content="@Model.Keywords" />
    <meta name="author" content="Bonsai Development" />
    <meta name="designer" content="Bonsai Development" />
    <meta name="language" content="@Model.LanguageDictionary.Culture.TwoLetterISOLanguageName" />
    <meta name="robots" content="index, follow" />

    <!--TITLE-->
    <title>@Model.Title</title>

    <!--IOS META TAGS-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--SOCIÁLNÍ SÍTĚ-->
    <meta property="og:image" content="@Model.OgImagePath" />
    <meta property="og:image:secure_url" content="@Model.OgImagePath" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:title" content="@Model.Title" />

    <!--TWITTER-->
    <meta name="twitter:title" content="@Model.Title">
    <meta name="twitter:description" content="@Model.Description">
    <meta name="twitter:image" content="@Model.OgImagePath">
    <meta name="twitter:card" content="summary_large_image">

    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="180x180" href="@Model.PathProvider.PathTo("/Favicon/apple-touch-icon.png", StaticResources.Namespace)">
    <link rel="icon" type="image/png" sizes="32x32" href="@Model.PathProvider.PathTo("/Favicon/favicon-32x32.png", StaticResources.Namespace)">
    <link rel="icon" type="image/png" sizes="16x16" href="@Model.PathProvider.PathTo("/Favicon/favicon-16x16.png", StaticResources.Namespace)">
    <link rel="mask-icon" href="@Model.PathProvider.PathTo("/Favicon/safari-pinned-tab.svg", StaticResources.Namespace)" color="#5bbad5">
    <link rel="shortcut icon" href="@Model.PathProvider.PathTo("/Favicon/favicon.ico", StaticResources.Namespace)">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="@Model.PathProvider.PathTo("/Favicon/browserconfig.xml", StaticResources.Namespace)">
    <meta name="theme-color" content="#C31432">

    <meta name="theme-color" content="#C31432">
    <link rel="manifest" href="@Model.PathProvider.PathTo("/Favicon/manifest.json", StaticResources.Namespace)">

    <!--STYLES-->
    <link href="@Model.PathProvider.PathTo("/_out/css/Global.css", StaticResources.Namespace)" rel="stylesheet" />
    @RenderSection("Styles", required: false)

    <!--SCRIPTS-->
    <script src="@Model.PathProvider.PathTo("/_out/js/Global.js", StaticResources.Namespace)"></script>
    <script src="@Model.PathProvider.PathTo("/_out/js/common.js", StaticResources.Namespace)"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
