@page "/user/change-password"
@model Bonsai.RazorPages.User.Areas.UserPages.Pages.ChangePasswordModel


@{
    Layout = "_UserPagesLayout";
}


@section Styles {
    <link href="@Model.PathProvider.PathTo("/_out/css/ChangePassword.css", StaticResources.Namespace)" rel="stylesheet" />
}

@section Scripts{
    <script src="@Model.PathProvider.PathTo("/_out/js/ChangePassword.js", StaticResources.Namespace)"></script>
}

<div class="windowFormWrapper">

    <!--FORM-->
    <form asp-controller="User" asp-action="ChangePassword" method="post" id="changePasswordForm" class="windowForm" role="form">
        <div class="windowFormIcon">&nbsp;</div>

        @Html.AntiForgeryToken()

        <h1>@Model.Heading</h1>

        <partial name="_ValidationSummary" />

        <div class="formBlock">
            <label for="oldPassword">@Model.OldPasswordLabel</label>
            <input type="password" id="oldPassword" name="OldPassword"/>
            <script>
                var lang_passwordNotEmpty = "@Model.OldPasswordNotEmpty";
            </script>
        </div>

        <div class="formBlock">
            <label for="newPassword">@Model.NewPasswordLabel</label>
            <input type="password" id="newPassword" name="NewPassword" />
            <script>
                var lang_newPasswordNotEmpty = "@Model.NewPasswordNotEmpty";
            </script>
        </div>

        <div class="formBlock">
            <label for="newPasswordConfirm">@Model.ConfirmNewPasswordLabel</label>
            <input type="password" id="newPasswordConfirm" name="ConfirmNewPassword" />
            <script>
                var lang_passwordNotSame = "@Model.ConfirmNewPasswordSame";
            </script>
        </div>

        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" /> 

        <div class="formBlock formSubmitBlock">
            <div class="commonButtonWrapper">
                <input type="submit" class="commonButton userWindowCommonButton" value="@Model.ChangePasswordButton" />
            </div>
        </div>
    </form>

    <partial name="_Credits" />
</div>