@page "/project-tag"
@inherits RootPage
@attribute [Authorize(Roles = UserRoles.Developer + "," + UserRoles.Admin)]
@inject ProjectTagService Service 

@code {
    public static BreadcrumbItem BreadcrumbItem { get; }
        = new BreadcrumbItem("Project tags", href: "/project-tag", icon: Icons.Material.Filled.Tag);

    protected List<BreadcrumbItem> breadcrumbItems = new()
    {
        MartinDrozdik.Web.Admin.Client.Pages.Index.BreadcrumbItem,
        BreadcrumbItem,
    };

    ListPage<ProjectTag, int> listPage;
}

<MudBreadcrumbs Items="breadcrumbItems" />

<MudText Typo="Typo.h3" Class="mb-1">Project tags</MudText>
<MudText Class="mb-4">Tags are for projects to group relevant topics.</MudText>

<ListPage @ref="listPage" TModel="ProjectTag" TKey="int" KeyGetter="e => e.Id"
    GetService="Service"
    AddService="Service" EntityCreator="() => new ProjectTag()"
    DeleteService="Service"
    ReorderService="Service" OrderExpression="e => e.OrderIndex">

    <DisplayItems>
        <MudSimpleTable Elevation="4" Hover="true" Striped="true" Dense="true" Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assigned projects</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if(context.DisplaySkeleton)
                {
                    for(var i = 0; i < 10; i++)
                    {
                        <tr>
                            <td><MudSkeleton /></td>
                            <td><MudSkeleton /></td>
                            <td><MudSkeleton /></td>
                        </tr>
                    }
                }
                @foreach (var item in context.Models)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Projects.Count</td>
                        <td>
                            <ListControlButton Disabled="context.Loading" 
                                OnDelete="async _ => await listPage.DeleteAsync(item.Id)"
                                HrefEdit="@($"/project-tag/{item.Id}")"/>
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </DisplayItems>
    
    <AddInputs>
        <MudTextField @bind-Value="context.Model.Name" Disabled="context.Loading" Label="Name" Variant="Variant.Text" 
                        Immediate="true" HelperText="The name of this tag" 
                        Required="true" RequiredError="A name is required" />
    </AddInputs>

    <ReorderItem>
        <MudListItem Icon="@Icons.Material.Filled.DragHandle" Text="@($"{context.Name}")" />
    </ReorderItem>
</ListPage>