@model ProjectListModel

<div class="projectList @(Model.Scheme == ProjectListScheme.Dark ? "darkMode" : "lightMode")">
    <span class="tagsHeading">Filtr tagů</span>
    <ul class="tags listTags @(Model.Scheme == ProjectListScheme.Dark ? "tagsWhiteBlack" : "tagsBlackWhite")">
        @foreach(var tag in Model.Tags)
        {
            <li><button type="button" data-id="@tag.Id">@tag.Name</button></li>
        }
    </ul>

    @* Project list *@
    <ul class="projects entityList"></ul>

    <div class="extraActionButton">
        <button type="button" class="loadMoreProjectsButton commonButton commonButtonThick @(Model.Scheme == ProjectListScheme.Dark ? "commonButtonRed" : "commonButtonBlack") loadMoreProjectsButton">Načíst další</button>
    </div>

    @if (Model.ShowMoreProjectsButton)
    {
        <div class="extraActionButton">
            <a href="@Url.Action("Projects", "Home")" class="commonButton @(Model.Scheme == ProjectListScheme.Dark ? "commonButtonDarkRed" : "commonButtonBlack")">Zobrazit stránku s projekty</a>
        </div>
    }            

</div>

