@model BiographyModel

<div id="biography" class="backgroundBlock">

    <svg id="biographyCirclesTopLeft" class="biographyCirclesBackground" width="2080" height="2080" viewBox="0 0 2080 2080" fill="none" xmlns="http://www.w3.org/2000/svg">
        @{
            string offset = "-260";
        }
        <circle cx="@offset" cy="@offset" r="732.5" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
        <circle cx="@offset" cy="@offset" r="900" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
        <circle cx="@offset" cy="@offset" r="1040" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
    </svg>

    <svg id="biographyCirclesBottomRight" class="biographyCirclesBackground" width="3000" height="3000" viewBox="0 0 3000 3000" fill="none" xmlns="http://www.w3.org/2000/svg">
        @{
            offset = "3500";
        }
        <circle cx="@offset" cy="@offset" r="1060" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
        <circle cx="@offset" cy="@offset" r="1290" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
        <circle cx="@offset" cy="@offset" r="1500" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
    </svg>

    <div id="biographyContent" class="block">
        <h2 class="commonH commonHRed">Životopis</h2>
        <p class="commonP commonPBlack">Vystudoval jsem střední technické lyceum a nyní dokončuji náročné magisterské studium na <strong>ČVUT</strong>. Na svém kontě mám několik zajímavých stáží, nicméně nejdelší pracovní zkušenost pochází z <strong><a class="external" href="https://bonsai-development.cz/" title="Web Bonsai Development" target="_blank" rel="noopener">Bonsai Development</a></strong>.</p>

        <div id="biographyWorkExperience" class="biographyList biographyColumn">
            <h3 class="headingUnderlined">Pracovní zkušenosti</h3>
            <ul class="importantDottedList importantDottedListRed importantDottedDashedList">

                @foreach(var workExperience in Model.WorkExperiences)
                {
                    <li class="@(workExperience.Ended ? "" : "dottedListImportantItem")">
                        <span class="biographyListHeading">@workExperience.WorkPosition</span>
                        <dl class="biographyListItemInfos">
                            @if (!string.IsNullOrWhiteSpace(workExperience.PlaceOfWork))
                            {
                                <dt>Místo pracovní zkušenosti</dt>
                                <dd class="placeOfWork">
                                    @if (workExperience.PlaceOfWorkHasWebsite)
                                    {
                                        <a class="commonA external" href="@workExperience.PlaceOfWorkUri" target="_blank" title="@workExperience.PlaceOfWork Web" rel="nofollow">
                                            @workExperience.PlaceOfWork
                                        </a>
                                    }
                                    else
                                    {
                                        @workExperience.PlaceOfWork
                                    }
                                </dd>
                            }
                            <dt>Doba pracovní zkušenosti</dt>
                            <dd class="timeOfWork">@Model.WorkExperienceTimeRangeText(workExperience)</dd>
                        </dl>
                        @if (!string.IsNullOrWhiteSpace(workExperience.Description))
                        {
                            <p>@workExperience.Description</p>
                        }
                    </li>
                }
            </ul>

        </div>

        <div id="biographySchoolAndLanguageExperience" class="biographyColumn">
            <div id="biographySchoolExperience" class="biographyList">
                <h3 class="headingUnderlined">Vzdělání</h3>
                <ul class="importantDottedList importantDottedListRed importantDottedDashedList">

                    @foreach(var education in Model.Educations)
                    {
                        <li class="@(education.Ended ? "" : "dottedListImportantItem")">
                            <span class="biographyListHeading">@education.Name</span>
                            <dl class="biographyListItemInfos">
                                @if (!string.IsNullOrWhiteSpace(education.Specialization))
                                {
                                    <dt>Akademické zaměření</dt>
                                    <dd class="focusOfStudy">@education.Specialization</dd>
                                }
                                <dt>Doba studia</dt>
                                <dd class="timeOfStudy">@Model.EducationTimeRangeText(education)</dd>
                                @if (!string.IsNullOrWhiteSpace(education.Note))
                                {
                                    <dt>Poznámka ke studiu</dt>
                                    <dd class="note">@education.Note</dd>
                                }
                            </dl>
                        </li>
                    }
                </ul>

            </div>

            <div id="biographyLanguageExperience" class="biographyList">
                <h3 class="headingUnderlined">Jazyky</h3>
                <ul class="importantDottedList importantDottedListRed importantDottedDashedList">

                    @foreach(var languageSkill in Model.LanguageSkills)
                    {
                        <li>
                            <span class="biographyListHeading">@languageSkill.LanguageName</span>
                            <dl class="biographyListItemInfos">
                                <dt>Úroveň dovednosti jazyka</dt>
                                <dd class="languageLevel">@Model.LanguageSkillLevelText(languageSkill.SkillLevel)</dd>
                            </dl>
                        </li>

                    }

                </ul>

            </div>
        </div>
    </div>

</div>