@model IndexPageModel
@inject IFilePathProvider PathProvider

@{
    //Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@PathProvider.PathTo("/_dist/_pack/css/IndexPage.css")" />
}

@section Scripts{
    <script type="text/javascript" src="@PathProvider.PathTo("/_dist/_pack/js/IndexPage.js")"></script>
}

<header id="heroHeader">

    <div id="heroHeaderContent">

        <svg id="heroHeaderCircles" width="1920" height="1030" viewBox="0 0 1920 1030" fill="none" xmlns="http://www.w3.org/2000/svg"></svg>

        <div id="heroHeaderText">

            <white-logo-icon />
            <span id="heroHeaderIAm">Ahoj, já jsem</span>
            <h1>Martin Drozdík</h1>
            <span id="heroHeaderSE">Software engineer</span>

        </div>

        <div id="headerButtons">
            @*<a href="#contact" class="slowScroll commonButton commonButtonBlack">Kontaktujte mě</a>*@
            <span class="freeForWork">Volný pro práci</span>
        </div>

        <dl class="contactInfos inline">
            <dt>Email</dt>
            <dd class="email"><a href="mailto:ja@martin-drozdik.cz">ja@martin-drozdik.cz</a></dd>
            <dt>Telefon</dt>
            <dd class="phone"><a href="tel:+420737416525">+420 737 416 525</a></dd>
            <dt>Lokace</dt>
            <dd class="location">Česká republika</dd>
        </dl>

        <a id="heroHeaderArrowDown" href="#aboutMe" class="slowScroll">↓</a>

    </div>


</header>

<div id="aboutMe" class="backgroundBlock">
    <div id="aboutMeContent" class="block">
        <div id="aboutMeText">
            @{
                var bonsaiStart = new DateTime(2017, 1, 10);
                var bonsaiTime = DateTime.Today - bonsaiStart;
                var bonsaiYearCount = bonsaiTime.TotalDays / 365;
                var bonsaiCountRoundedDown = Math.Floor(bonsaiYearCount);
                var bonsaiYearRemainder = bonsaiYearCount - bonsaiCountRoundedDown;

                var bonsaiYearPrefix = "Přes";
                var bonsaiYears = bonsaiCountRoundedDown;
                if (bonsaiYearRemainder >= 0.75)
                {
                    bonsaiYearPrefix = "Téměř";
                    bonsaiYears = bonsaiCountRoundedDown + 1;
                }

                var bonsaiYearsWord = "let";
                if (bonsaiYears <= 4)
                {
                    bonsaiYearsWord = "roky";
                }
            }

            <h2 class="commonH commonHGradient">Kdo jsem?</h2>
            <p class="commonP commonPRed">Jmenuji se Martin Drozdík a jsem <strong>softwarový engineer</strong>. Programuji již od&nbsp;malička. Mám širokou škálu zkušeností s&nbsp;<strong>programováním webových stránek</strong>, a&nbsp;to&nbsp;jak front-end, tak&nbsp;back-end. Umím si však poradit s&nbsp;programováním všeho druhu, díky kvalitnímu <strong>object-oriented designu a&nbsp;modularizaci</strong>.</p>
            <p class="commonP commonPRed">@bonsaiYearPrefix @bonsaiYears&nbsp;@bonsaiYearsWord vedu skupinu nezávislých freelancerů <a class="external" href="https://bonsai-development.cz/" title="Web Bonsai Development" target="_blank" rel="nofollow">Bonsai Development</a>. Nejsou mi tedy cizí zkušenosti z&nbsp;pozice <strong>team&nbsp;leader</strong>. Rád komunikuji s&nbsp;klienty a&nbsp;pomáhám realizovat jejich vize.</p>
        </div>
        <div id="aboutMeImage">
            <img src="~/Web/AboutMe/MartinDrozdik.jpg" alt="Fotografie Martina Drozdíka" title="Já, Martin Drozdík" />
        </div>
    </div>

    <ul id="aboutMeStats" class="blockNarrower">
        <li class="importantStat programmingExperienceStat">
            @{
                //Experience time calculations
                var dateStartedProgramming = new DateTime(2016, 2, 1);
                var programmingExperience = DateTime.Today - dateStartedProgramming;
                var yearCount = programmingExperience.TotalDays / 365;
                var yearCountRoundedDown = Math.Floor(yearCount);
                var yearRemainder = yearCount - yearCountRoundedDown;

                var experienceYears = yearCountRoundedDown;
                var experiencePrefix = "přes";
                if (yearRemainder >= 0.75)
                {
                    experiencePrefix = "téměř";
                    experienceYears = yearCountRoundedDown + 1;
                }
            }
            @experiencePrefix<span class="statNumber">@experienceYears</span>let zkušeností s programováním
        </li>
        <li class="importantStat projectCountStat">
            přes<span class="statNumber">30</span>dokončených projektů
        </li>
    </ul>
</div>

<div id="mySkills" class="backgroundBlock">
    <div id="mySkillsContent" class="block">
        <h2 class="commonH commonHBlack">Co umím?</h2>
        <p class="commonP commonPBlack">Díky letitým zkušenostem i studii na ČVUT jsem nabral širokou sadu hlubinných i povrchních zkušeností. Mezi ty hlubinné patří <strong>kvalitní OOP design</strong>, web development a team leading.  </p>

        <ul id="mySkillsList">
            <li id="skillWebDevelopment">
                <h3>Web development</h3>
                <p>Jako webový vývojář jsem schopný tvořit komplexní projekty, a to od základu. Konstrukce front-endu i s moderními SPA frameworky je pro mě denní chleba. Intuitivní UI, kvalitní informační architektura, přístupnost, SEO a další standardy beru jako samozřejmost. Ani v back-end technologiích nezastávám, a dokážu vytvořit kvalitně zpracovanou aplikaci.</p>
            </li>
            <li id="skillCodeDesign" class="importantSkill">
                <h3>Code design</h3>
                <p>Má hlavní dovednost je kvalitní, promyšlený a objektově-orientovaný návrh libovolných problémů. Nejprve přemýšlím, pak až kódím. Nebojím se refaktorovat. Uvažuji ve struktuře malých, znovupoužitelných, rozšiřitelných, otestovaných a samostatných modulů. Díky tomu řeším složité záležitosti velmi elegantně. </p>
            </li>
            <li id="skillProjectManagement">
                <h3>Project management</h3>
                <p>Majoritu svých projektů jsem dokončil v týmu jako leader. Díky povrchním i hlubinným znalostem z širokého spektra předmětů dokážu efektivně vést tým k jeho cíli. Projekt účelně projednávám s klienty i vedením. Podnikatelské záměry mi nejsou cizí. Ze všeho nejvíce si dávám práci poznat svůj tým a dobře s ním komunikovat.</p>
            </li>
        </ul>
    </div>
</div>

<!--div id="projects" class="backgroundBlock">
    <div id="projectsContent" class="block">
        <h2 class="commonH commonHWhite">Dokončené projekty</h2>
        <p class="commonP commonPWhite">Za svou kariéru mám na kontě celou řadu zajímavých projektů, z nichž část zajisté stojí za zmínku.</p>

        <div class="projectList lightMode">
            <span class="tagsHeading">Filtr tagů</span>
            <ul class="tags tagsWhiteBlack">
                <li class="selected"><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #web">web</a></li>
                <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #front-end">front-end</a></li>
                <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #back-end">back-end</a></li>
                <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #grafika">grafika</a></li>
                <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #hra">Hra</a></li>
            </ul>

            @* Project list *@
            <ul class="projects">
                <li>
                    <img src="https://via.placeholder.com/150" title="Projekt GIT Elekto" alt="Project GIT Elektro" />
                    <h3>GIT Elektro</h3>
                    <p></p>
                    <ul class="tags tagsWhiteBlack">
                        <li class="selected"><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #web">web</a></li>
                        <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #front-end">front-end</a></li>
                        <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #back-end">back-end</a></li>
                    </ul>
                    <div class="projectActions">
                        <a href="https://git-elektro.cz/" title="Detail projektu GIT Elektro" class="commonButton commonButtonRed">Detail projektu</a>
                        <a href="https://git-elektro.cz/" title="GIT Elektro codebase" class="commonButton commonButtonDarkRed commonButtonGithub">GitHub</a>
                        <a href="https://git-elektro.cz/" title="GIT Elektro živý web" class="commonButton commonButtonDarkRed commonButtonLive">Odkaz</a>
                    </div>
                </li>

                <li>
                    <img src="https://via.placeholder.com/150" title="Projekt GIT Elekto" alt="Project GIT Elektro" />
                    <h3>GIT Elektro</h3>
                    <p></p>
                    <ul class="tags tagsWhiteBlack">
                        <li class="selected"><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #web">web</a></li>
                        <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #front-end">front-end</a></li>
                        <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #back-end">back-end</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</div-->

<div id="biography" class="backgroundBlock">

    <svg id="biographyCirclesTopLeft" class="biographyCirclesBackground" width="2080" height="2080" viewBox="0 0 2080 2080" fill="none" xmlns="http://www.w3.org/2000/svg">
        @{
            string offset = "-260";
        }
        <circle cx="@offset" cy="@offset" r="732.5" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
        <circle cx="@offset" cy="@offset" r="900" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
        <circle cx="@offset" cy="@offset" r="1040" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
    </svg>

    <svg id="biographyCirclesBottomRight" class="biographyCirclesBackground" width="3000" height="3000" viewBox="0 0 3000 3000" fill="none" xmlns="http://www.w3.org/2000/svg">
        @{
            offset = "3500";
        }
        <circle cx="@offset" cy="@offset" r="1060" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
        <circle cx="@offset" cy="@offset" r="1290" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
        <circle cx="@offset" cy="@offset" r="1500" stroke="#240B36" stroke-opacity="0.03" stroke-width="5" stroke-dasharray="40 40" />
    </svg>

    <div id="biographyContent" class="block">
        <h2 class="commonH commonHRed">Životopis</h2>
        <p class="commonP commonPBlack">Vystudoval jsem střední technické lyceum a nyní dokončuji náročné magisterské studium na <strong>ČVUT</strong>. Na svém kontě mám několik zajímavých stáží, nicméně nejdelší pracovní zkušenost pochází z <strong><a class="external" href="https://bonsai-development.cz/" title="Web Bonsai Development" target="_blank" rel="nofollow">Bonsai Development</a></strong>.</p>

        <div id="biographyWorkExperience" class="biographyList biographyColumn">
            <h3 class="headingUnderlined">Pracovní zkušenosti</h3>
            <ul class="importantDottedList importantDottedListRed importantDottedDashedList">

                <li class="dottedListImportantItem">
                    <span class="biographyListHeading">Spoluzakladatel a programátor</span>
                    <dl class="biographyListItemInfos">
                        <dt>Místo pracovní zkušenosti</dt>
                        <dd class="placeOfWork">Bonsai Development</dd>
                        <dt>Doba pracovní zkušenosti</dt>
                        <dd class="timeOfWork">březen 2016 – současnost</dd>
                    </dl>
                    <p>Popisem mé práce je tvorba a optimalizace webových stránek, organizace týmu a komunikace s klienty.</p>
                </li>

                <li class="dottedListImportantItem">
                    <span class="biographyListHeading">Vyučující předmětu OOP na&nbsp;ČVUT</span>
                    <dl class="biographyListItemInfos">
                        <dt>Místo pracovní zkušenosti</dt>
                        <dd class="placeOfWork">ČVUT</dd>
                        <dt>Doba pracovní zkušenosti</dt>
                        <dd class="timeOfWork">září 2020 – současnost</dd>
                    </dl>
                    <p>Na ČVUT vedu cvičení předmětu BI-OOP, jež se zaměřuje na správný objektově-orientovaný návrh a výuku teorie spojené s tímto paradigmatem. Předmět byl v roce mého nástupu v novém kabátě, tudíž jsem se aktivně podílel na jeho vývoji. V roce 2021 jsem obdržel a úspěšně dokončil grant na kompletní předělání laboratorních osnov.</p>
                </li>

                <li>
                    <span class="biographyListHeading">Stáž jako .NET a front-end developer</span>
                    <dl class="biographyListItemInfos">
                        <dt>Místo pracovní zkušenosti</dt>
                        <dd class="placeOfWork">ICZ</dd>
                        <dt>Doba pracovní zkušenosti</dt>
                        <dd class="timeOfWork">červen 2019 – září 2019</dd>
                    </dl>
                    <p>Popisem mé práce byl výzkum nového .NET SPA frameworku Blazor a proof of concept implementace modernější podoby správy uživatelů české evidence řidičů.</p>
                </li>

                <li>
                    <span class="biographyListHeading">Zahraniční stáž jako ASP.NET developer</span>
                    <dl class="biographyListItemInfos">
                        <dt>Místo pracovní zkušenosti</dt>
                        <dd class="placeOfWork">In 2 Solid Surfaces</dd>
                        <dt>Doba pracovní zkušenosti</dt>
                        <dd class="timeOfWork">červen 2016 – červenec 2016</dd>
                    </dl>
                    <p>Zahraniční stáž programu Erasmus+ mně umožnila žít na měsíc v Anglii a vytvářet nové webové stránky pro lokální podnik. Díky programování redakčního systému v ASP.NET (bez šablonových řešení) firma ušetřila na měsíčních nákladech za různé softwarové služby, jelikož byly nahrazeny mojí vlastní implementací.</p>
                </li>
            </ul>

        </div>

        <div id="biographySchoolAndLanguageExperience" class="biographyColumn">
            <div id="biographySchoolExperience" class="biographyList">
                <h3 class="headingUnderlined">Vzdělání</h3>
                <ul class="importantDottedList importantDottedListRed importantDottedDashedList">

                    <li class="dottedListImportantItem">
                        <span class="biographyListHeading">ČVUT FIT v Praze (Ing.)</span>
                        <dl class="biographyListItemInfos">
                            <dt>Akademické zaměření</dt>
                            <dd class="focusOfStudy">Softwarové inženýrstvý</dd>
                            <dt>Doba studia</dt>
                            <dd class="timeOfStudy">2020 – 2022</dd>
                        </dl>
                    </li>

                    <li>
                        <span class="biographyListHeading">ČVUT FIT v Praze (Bc.)</span>
                        <dl class="biographyListItemInfos">
                            <dt>Akademické zaměření</dt>
                            <dd class="focusOfStudy">Softwarové inženýrstvý</dd>
                            <dt>Doba studia</dt>
                            <dd class="timeOfStudy">2017 – 2020</dd>
                        </dl>
                    </li>

                    <li>
                        <span class="biographyListHeading">SPŠSE a VOŠ Liberec</span>
                        <dl class="biographyListItemInfos">
                            <dt>Akademické zaměření</dt>
                            <dd class="focusOfStudy">Technické lyceum</dd>
                            <dt>Doba studia</dt>
                            <dd class="timeOfStudy">2013 – 2017</dd>
                        </dl>
                    </li>

                    <li>
                        <span class="biographyListHeading">ZŠ Doctrina</span>
                        <dl class="biographyListItemInfos">
                            <dt>Doba studia</dt>
                            <dd class="timeOfStudy">2004 – 2013</dd>
                        </dl>
                    </li>

                </ul>

            </div>

            <div id="biographyLanguageExperience" class="biographyList">
                <h3 class="headingUnderlined">Jazyky</h3>
                <ul class="importantDottedList importantDottedListRed importantDottedDashedList">

                    <li>
                        <span class="biographyListHeading">Český jazyk</span>
                        <dl class="biographyListItemInfos">
                            <dt>Úroveň dovednosti jazyka</dt>
                            <dd class="languageLevel">Rodný jazyk</dd>
                        </dl>
                    </li>

                    <li>
                        <span class="biographyListHeading">Anglický jazyk</span>
                        <dl class="biographyListItemInfos">
                            <dt>Úroveň dovednosti jazyka</dt>
                            <dd class="languageLevel">Úroveň C1 (velmi pokročilý)</dd>
                        </dl>
                    </li>

                    <li>
                        <span class="biographyListHeading">Německý jazyk</span>
                        <dl class="biographyListItemInfos">
                            <dt>Úroveň dovednosti jazyka</dt>
                            <dd class="languageLevel">Úroveň A2 (základy)</dd>
                        </dl>
                    </li>

                </ul>

            </div>
        </div>
    </div>

</div>

@*<div id="contact" class="block blockMargin">
        <h2 class="commonH commonHGradient">Kontakt</h2>
        <p class="commonP commonPBlack">Neváhejte mě kontaktovat s&nbsp;jakoukoliv záležitostí. Ozvu&nbsp;se vám zpět hned jak to bude možné.</p>

        <div id="contactBlocks">
            <div id="contactInfo">

            </div>

            <div id="contactForm">

            </div>
        </div>

    </div>*@