@model IndexPageModel
@inject IFilePathProvider PathProvider

@{
    //Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@PathProvider.PathTo("/_dist/_pack/css/IndexPage.css")" />
}

@section Scripts{
    <script type="text/javascript" src="@PathProvider.PathTo("/_dist/_pack/js/IndexPage.js")"></script>
}

<partial name="_HeroHeader" for="@HeroHeaderModel.Default" />

<partial name="_AboutMe" for="@AboutMeModel.Default" />

<partial name="_MySkills" for="@MySkillsModel.Default" />

<!--div id="projects" class="backgroundBlock">
    <div id="projectsContent" class="block">
        <h2 class="commonH commonHWhite">Dokončené projekty</h2>
        <p class="commonP commonPWhite">Za svou kariéru mám na kontě celou řadu zajímavých projektů, z nichž část zajisté stojí za zmínku.</p>

        <div class="projectList lightMode">
            <span class="tagsHeading">Filtr tagů</span>
            <ul class="tags tagsWhiteBlack">
                <li class="selected"><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #web">web</a></li>
                <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #front-end">front-end</a></li>
                <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #back-end">back-end</a></li>
                <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #grafika">grafika</a></li>
                <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #hra">Hra</a></li>
            </ul>

            @* Project list *@
            <ul class="projects">
                <li>
                    <img src="https://via.placeholder.com/150" title="Projekt GIT Elekto" alt="Project GIT Elektro" />
                    <h3>GIT Elektro</h3>
                    <p></p>
                    <ul class="tags tagsWhiteBlack">
                        <li class="selected"><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #web">web</a></li>
                        <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #front-end">front-end</a></li>
                        <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #back-end">back-end</a></li>
                    </ul>
                    <div class="projectActions">
                        <a href="https://git-elektro.cz/" title="Detail projektu GIT Elektro" class="commonButton commonButtonRed">Detail projektu</a>
                        <a href="https://git-elektro.cz/" title="GIT Elektro codebase" class="commonButton commonButtonDarkRed commonButtonGithub">GitHub</a>
                        <a href="https://git-elektro.cz/" title="GIT Elektro živý web" class="commonButton commonButtonDarkRed commonButtonLive">Odkaz</a>
                    </div>
                </li>

                <li>
                    <img src="https://via.placeholder.com/150" title="Projekt GIT Elekto" alt="Project GIT Elektro" />
                    <h3>GIT Elektro</h3>
                    <p></p>
                    <ul class="tags tagsWhiteBlack">
                        <li class="selected"><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #web">web</a></li>
                        <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #front-end">front-end</a></li>
                        <li><a href="@Url.Action("Projects", "Home", new { tags="web" })" title="Tag #back-end">back-end</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</div-->

<partial name="_Biography" for="@BiographyModel.Default" />

<div id="contact" class="block blockMargin">
    <h2 class="commonH commonHGradient">Kontakt</h2>
    <p class="commonP commonPBlack">Neváhejte mě kontaktovat s&nbsp;jakoukoliv záležitostí. Ozvu&nbsp;se vám zpět hned jak to bude možné.</p>

    <div id="contactBlocks">
        <div id="contactInfo">
            <h3>Kontaktní informace</h3>
            <p>Můj email a telefonní číslo je vám k dispozici. Jakou myšlenku budeme realizovat?</p>
            <span class="freeForWork">Volný pro práci</span>
            <dl class="contactInfos">
                <dt>Email</dt>
                <dd class="email"><a href="mailto:ja@martin-drozdik.cz">ja@martin-drozdik.cz</a></dd>
                <dt>Telefon</dt>
                <dd class="phone"><a href="tel:+420737416525">+420 737 416 525</a></dd>
                <dt>Lokace</dt>
                <dd class="location">Česká republika</dd>
            </dl>
        </div>

        <div id="contactForm">

        </div>
    </div>

</div>