@model IndexPageModel
@inject IFilePathProvider PathProvider

@{
    //Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" href="@PathProvider.PathTo("/_dist/_pack/css/IndexPage.css")" />
}

@section Scripts
{
    <script defer type="text/javascript" src="@PathProvider.PathTo("/_dist/_pack/js/IndexPage.js")"></script>
}

<partial name="_HeroHeader" for="@HeroHeaderModel.Default" />

<partial name="_AboutMe" for="@AboutMeModel.Default" />

<partial name="_MySkills" for="@MySkillsModel.Default" />

<div id="projects" class="backgroundBlock">
    <div id="projectsContent" class="block">
        <h2 class="commonH commonHWhite">Dokončené projekty</h2>
        <p class="commonP commonPWhite">Za svou kariéru mám na kontě celou řadu zajímavých projektů, z&nbsp;nichž část zajisté stojí za zmínku.</p>

        @*@{
            var projectListModel = new ProjectListModel(Model.ProjectTags, ProjectListScheme.Dark);
            projectListModel.ShowMoreProjectsButton = true;
        }
        <partial name="../Projects/_ProjectList.cshtml" for="@projectListModel" />*@
        <ul class="projects darkMode">
            @foreach(var project in Model.PreviewProjects)
            {
                var projectModel = new ProjectListItemModel(project, ProjectListItemScheme.Dark); 
                <partial name="_ProjectListItem" for="@projectModel" />
            }
        </ul>
        <div class="moreProjects">
            <a href="@Url.Action("Projects", "Home")" class="commonButton commonButtonRed commonButtonThick">Další projekty</a>
        </div>
    </div>
</div>


@{ var biographyModel = new BiographyModel(Model.WorkExperiences, Model.Educations, Model.LanguageSkills); }
<partial name="_Biography" for="@biographyModel" />

<div id="blog" class="backgroundBlock">
    <div id="blogContent" class="block">
        <h2 class="commonH commonHRed">Blog</h2>
        <p class="commonP commonPRed">Rád píšu články a&nbsp;sdílím tak vědomosti. Mnohdy se při jejich tvorbě i&nbsp;něco dozvím a&nbsp;upřesním. Kromě <strong>výukových materiálů na&nbsp;programování</strong> uvažuji o&nbsp;věcech jako je <strong>podnikání</strong>, <strong>práce</strong> a&nbsp;<strong>štěstí v&nbsp;životě</strong>.</p>

        <ul class="articles">
            @foreach(var article in Model.PreviewArticles)
            {
                var articleModel = new ArticleListItemModel(article); 
                <partial name="_ArticleListItem" for="@articleModel" />
            }
        </ul>

        <div class="moreArticles">
            <a href="@Url.Action("Blog", "Home")" class="commonButton commonButtonRed commonButtonThick">Další články</a>
        </div>
    </div>
</div>

<partial name="_Contact" for="@ContactModel.Default" />

