@model ProjectPageModel
@inject IFilePathProvider PathProvider

@{
    //Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" href="@PathProvider.PathTo("/_dist/_pack/css/ProjectPage.css")" />
}

@section Scripts
{
    <script defer type="text/javascript" src="@PathProvider.PathTo("/_dist/_pack/js/ProjectPage.js")"></script>
}

@section Metas
{
    <meta property="article:author" content="@Model.Author">
    <meta property="article:published_time" content="@Model.Project.CreatedAt.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)">
    <meta property="article:modified_time" content="@Model.Project.LastEditAt.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)">
    
    @foreach(var tag in Model.Project.Tags)
    {
        <meta property="article:tag" content="@tag.Tag.Name">
    }

}


<div id="project" class="block">
    @{
        var breadcrumbsModel = new BreadcrumbsModel(new List<BreadcrumbModel>()
        {
           new BreadcrumbModel("Martin Drozdík", "/", BreadcrumbType.Home, BreadcrumbScheme.Black),
           new BreadcrumbModel("Projekty", @Url.Action("Home", "Projects"), BreadcrumbType.Projects, BreadcrumbScheme.Dark),
           new BreadcrumbModel(Model.Project.Name, string.Empty, BreadcrumbType.Article, BreadcrumbScheme.White),
        });
    }
    <partial name="_Breadcrumbs" for="@breadcrumbsModel" />

    <h1 class="commonH">@Model.Project.Name</h1>
    <div id="logo">
        @if (Model.Project.Logo.Uploaded)
        {
            @*@Model.Project.Logo.Uri*@
            <img src="/Web/Projects/Default.png" title="@Model.Project.Logo.Name" alt="@Model.Project.Logo.AlternativeText" />   
        }
        @if (Model.Project.HasGitHubLink)
        {
            <a href="@Model.Project.GitHubLink" title="@Model.Project.Name GitHub codebase" class="commonButton commonButtonBlack commonButtonSlim commonButtonGithub iconGitHubWhite" target="_blank" rel="nofollow">GitHub</a>
        }
        
        @if (Model.Project.HasLiveLink)
        {
            <a href="@Model.Project.LiveLink" title="@Model.Project.Name live" class="commonButton commonButtonBlack commonButtonSlim commonButtonLive" target="_blank" rel="nofollow">Odkaz</a>
        }
    </div>
    <p class="commonP">@Model.Project.Abstract</p>
    @if(Model.Project.IsFinished && Model.Project.FinishedTime.HasValue)
    {
        <span id="finishedDate">Dokončeno v @ProjectPageModel.FinishedDateToString(Model.Project.FinishedTime.Value)</span>
    }
    <ul class="tags tagsBlackWhite">
        @foreach(var tag in Model.Project.Tags)
        {
            <li><span data-id="@tag.Tag.Id">@tag.Tag.Name</span></li>
        }
    </ul>

    <ul class="gallery">
        @for(int i = 0; i < 4; i++)
        {
            <li class="magnifyingGlass"><span>Velmi zajímavý a krásný obrázek</span></li>
        }
    </ul>

</div>
