@model ProjectPageModel
@inject IFilePathProvider PathProvider

@{
    //Layout
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" href="@PathProvider.PathTo("/_dist/_pack/css/ProjectPage.css")" />
}

@section Scripts
{
    <script defer type="text/javascript" src="@PathProvider.PathTo("/_dist/_pack/js/ProjectPage.js")"></script>
}

@section Metas
{
    <meta property="article:author" content="@Model.Author">
    <meta property="article:published_time" content="@Model.Project.CreatedAt.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)">
    <meta property="article:modified_time" content="@Model.Project.LastEditAt.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)">
    
    @foreach(var tag in Model.Project.Tags)
    {
        <meta property="article:tag" content="@tag.Tag.Name">
    }

}

<div class="block">
    @{
        var breadcrumbsModel = new BreadcrumbsModel(new List<BreadcrumbModel>()
        {
           new BreadcrumbModel("Martin Drozdík", "/", BreadcrumbType.Home, BreadcrumbScheme.Black),
           new BreadcrumbModel("Projekty", @Url.Action("Home", "Projects"), BreadcrumbType.Projects, BreadcrumbScheme.Dark),
           new BreadcrumbModel(Model.Project.Name, string.Empty, BreadcrumbType.Article, BreadcrumbScheme.White),
        });
    }
    <partial name="_Breadcrumbs" for="@breadcrumbsModel" />
</div>

@*<div id="projects" class="block">
    <h1 class="commonH">Dokončené projekty</h1>
    <ul id="projectsStats" class="blockNarrower">
        <li class="importantStat projectCountStat">
            přes<span class="statNumber">@Model.CompletedProjectsCount</span>dokončených projektů
        </li>
    </ul>
    <p class="commonP">Ať už se jedná o&nbsp;větší školní projekty nebo profesionální placené weby, vždy usiluji o&nbsp;maximální kvalitu kódu i&nbsp;výsledku. Přirozeně, postupem času a s&nbsp;nově nabitými zkušenostmi přispívám lepší a&nbsp;lepší prací se&nbsp;slibnějšími výsledky.</p>
    <p class="commonP">Spoustu ze svých projektů jsem dokončil v&nbsp;týmu. Dle mého názoru je týmová práce v oblasti programování naprosto esenciální.</p>


    @{
        var projectListModel = new ProjectListModel(Model.ProjectTags, ProjectListScheme.Light);
    }
    <partial name="../Project/_ProjectList.cshtml" for="@projectListModel" />

</div>
*@