@inherits LayoutComponentBase

@code {
    bool drawerOpen = false;
    private MudTheme theme = new();
    private bool isDarkMode;

    void DrawerToggle()
    {
        drawerOpen = !drawerOpen;
    }

    void ThemeModeToggle()
    {
        isDarkMode = !isDarkMode;
    }
}

@* MudBlazor *@
<MudThemeProvider @bind-IsDarkMode="@isDarkMode" Theme="theme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@* Layout *@
<MudLayout>

    @* Top app bar *@
    <MudAppBar Elevation="1" Dense="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(e => DrawerToggle())" />
        <MudSpacer />

        @* Light/Dark mode *@
        @if (!isDarkMode)
        {
            <MudTooltip Class="my-5" Text="Switch to dark mode">
                <MudIconButton Icon="@Icons.Material.Outlined.DarkMode" Color="Color.Inherit" Edge="Edge.End"
                               OnClick="@(e => ThemeModeToggle())"/>
            </MudTooltip>
        }
        else
        {
            <MudTooltip Text="Switch to light mode">
                <MudIconButton Icon="@Icons.Material.Filled.LightMode" Color="Color.Inherit" Edge="Edge.End"
                               OnClick="@(e => ThemeModeToggle())"/>
            </MudTooltip>
        }

        @* Repo link *@
        <MudTooltip Text="GitHub repository">
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.End" 
                               Target="_blank" Href="https://github.com/drozdik-m/martin-drozdik-web" />
        </MudTooltip>

        @* Web redirect *@
        <MudTooltip Text="Open web">
                <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" Edge="Edge.End" 
                               Target="_blank" Href="/web/redirect" />
        </MudTooltip>

        @* More actions *@
        <MudTooltip Text="Settings">
            <MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" >
                <a href="/user/change-password"><MudMenuItem>Change password</MudMenuItem></a>
                <a href="/user/logout"><MudMenuItem>Logout</MudMenuItem></a>
            </MudMenu>
        </MudTooltip>
    </MudAppBar>

    @* Left drawer *@
    <MudDrawer @bind-Open="drawerOpen" Elevation="2" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Href="/" Icon="@Icons.Filled.Home">Admin</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/project" Icon="@Icons.Filled.Code">Project</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/people" Icon="@Icons.Filled.Person">People</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/project-tag" Icon="@Icons.Filled.Tag">Project tags</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Href="/technology" Icon="@Icons.Filled.Analytics">Technologies</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        @Body
    </MudMainContent>
</MudLayout>

